<section class="banner2_section py-5 text-center">
    <div class="container">

        <h3 class="text-secondary">{{banner2.title}}</h3>

        <div class="row">

            {{!-- left side --}}
            <div class="col md-6 py-4">
            
                <p>{{banner2.paragraph}}</p>
            
            </div>

            {{!-- right image --}}
            <div class="container col md-6 py-4">

                <div class="container text-center ">
                    <img src="{{banner2.imageUrl}}" class="logo" height="200" alt="technology">
                </div>

            </div>

        </div>

    </div>
</section>
