<section class="banner2_section py-5 text-center">
    <div class="container">

        <h3 class="text-secondary">{{banner1.title}}</h3>

        <div class="row">
            
            {{!-- left image --}}
            <div class="container col md-6 py-4">

                <div class="container text-center ">
                    <img src="{{banner1.imageUrl}}" class="logo" height="200" alt="technology">
                </div>

            </div>

            {{!-- right side --}}
            <div class="col md-6 py-4">

                <p>{{banner1.paragraph}}</p>

            </div>
            
        </div>

    </div>
</section>

